.landing{
    display: flex;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/horizon.png);
    align-items: center;
    
}

.slider{
    display: flex;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: rgba(0, 0, 0);
    opacity: 0.8;
    height: 20%;
    width: 60%;
    padding: 80px;
    color: white;
    font-weight: bold;
    font-size: 120px;
    cursor: pointer;
}
.slider:hover{
    opacity: 0.9;
}

.supersystem{
    display: flex;
    align-self:flex-end;
}

.artwork{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 8px;
    color: whitesmoke;
    border-bottom: 1px solid white;
    width: max-content;
}

