.home{
    display: flex;

    .homeContainer{
        flex: 5;

        .widgets{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 40px;
            grid-gap: 20px;
            justify-items: center;
        }
    }
}